<div>

    <nb-tabset fullWidth>
        <nb-tab tabTitle="Caracterización">

            <div class="container">

                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-3 col-form-label text-left">Clasificación</label>
                                <select class="custom-select col-8 mr-1">
                                    <option selected>---Seleccione---</option>
                                    <option value="1">Proceso 1</option>
                                    <option value="2">Proceso 2</option>
                                    <option value="3">Proceso 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-4 col-form-label text-left">Procesos POA</label>
                                <select class="custom-select col-8">
                                    <option selected>---Seleccione---</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-3 col-form-label text-left">Proceso</label>
                                <input class="form-control col-8 mr-1" type="text" placeholder="Ingrese el nombre del proceso" formControlName="proceso" [class.is-invalid]="procesoNoValido">
                                <small *ngIf="procesoNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-4 col-form-label text-left">Alcance</label>
                                <input class="form-control col-8" type="text" placeholder="Ingrese el alcance" formControlName="alcance" [class.is-invalid]="alcanceNoValido">
                                <small *ngIf="alcanceNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-3 col-form-label text-left">Objetivo</label>
                                <input class="form-control col-8 mr-1" type="text" placeholder="Ingrese el objetivo" formControlName="objetivo" [class.is-invalid]="objetivoNoValido">
                                <small *ngIf="objetivoNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-4 col-form-label text-left">Observaciones</label>
                                <textarea class="form-control col-8" rows="2" placeholder="Ingrese aquí las observaciones" formControlName="observaciones" [class.is-invalid]="observacionesNoValido">
                                </textarea>
                                <small *ngIf="observacionesNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div>
                        <h2 class="text-left">Entradas y Salidas</h2>

                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-3 col-form-label text-left">Entrada</label>
                                <input type="text" class="form-control col-8 mr-1" name="nombre" placeholder="Ingrese el nombre del proceso">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-4 col-form-label text-left">Salida</label>
                                <input type="text" class="form-control col-8" name="fecha" placeholder="Ingrese el nombre del proceso">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-3 col-form-label text-left">Proveedor</label>
                                <select class="custom-select col-4">
                                    <option selected>---Seleccione---</option>
                                    <option value="1">Proceso 1</option>
                                    <option value="2">Proceso 2</option>
                                    <option value="3">Proceso 3</option>
                                </select>
                                <select class="custom-select col-4 mr-1">
                                    <option selected>---Seleccione---</option>
                                    <option value="1">Proceso 1</option>
                                    <option value="2">Proceso 2</option>
                                    <option value="3">Proceso 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-4 col-form-label text-left">Cliente</label>
                                <select class="custom-select col-4">
                                    <option selected>---Seleccione---</option>
                                    <option value="1">Proceso 1</option>
                                    <option value="2">Proceso 2</option>
                                    <option value="3">Proceso 3</option>
                                </select>
                                <select class="custom-select col-4">
                                    <option selected>---Seleccione---</option>
                                    <option value="1">Proceso 1</option>
                                    <option value="2">Proceso 2</option>
                                    <option value="3">Proceso 3</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Minimal</label>
                        <select class="form-control select2" style="width: 100%;">
                          <option selected="selected">Alabama</option>
                          <option>Alaska</option>
                          <option>California</option>
                          <option>Delaware</option>
                          <option>Tennessee</option>
                          <option>Texas</option>
                          <option>Washington</option>
                        </select>
                    </div>


                    <div class="form-group row float-right">
                        <label class="col-2 col-form-label">&nbsp;</label>
                        <div class="input-group col-md-12">
                            <button type="submit" class="btn btn-outline-primary">
                                Siguiente <i class="fas fa-angle-right"></i> 
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </nb-tab>



        <nb-tab tabTitle="Actividades">

            <div class="container">

                <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <label class="col-form-label float-center">¿Quién realiza la actividad?</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <select class="custom-select col-9">
                                    <option selected>---Persona---</option>
                                    <option value="1">Persona 1</option>
                                    <option value="2">Persona 2</option>
                                    <option value="3">Persona 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <select class="custom-select col-9">
                                    <option selected>---Puesto---</option>
                                    <option value="1">Puesto 1</option>
                                    <option value="2">Puesto 2</option>
                                    <option value="2">Puesto 3</option>
                                </select>
                                <div class="input-group col-3">
                                    <button type="button" class="btn btn-outline-primary">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div>
                                    <label class="col-10 col-form-label text-center">¿Qué necesita para realizar la activdad?</label>
                                </div>
                                <div>
                                    <textarea class="form-control col-10 align-center" rows="2" placeholder="Ingrese aquí las observaciones" formControlName="observaciones" [class.is-invalid]="observacionesNoValido">
                                </textarea>
                                </div>
                                <small *ngIf="observacionesNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div>
                                    <label class="col-10 col-form-label text-center ">¿Qué actividad realiza?</label>
                                </div>
                                <div>
                                    <textarea class="form-control col-10" rows="2" placeholder="Ingrese aquí las observaciones" formControlName="observaciones" [class.is-invalid]="observacionesNoValido">
                                </textarea>
                                </div>
                                <small *ngIf="observacionesNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div>
                                    <label class="col-10 col-form-label text-center">¿Qué resultado genera?</label>
                                </div>
                                <div>
                                    <textarea class="form-control col-10" rows="2" placeholder="Ingrese aquí las observaciones" formControlName="observaciones" [class.is-invalid]="observacionesNoValido">
                                </textarea>
                                </div>
                                <small *ngIf="observacionesNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div>
                                    <label class="col-10 col-form-label text-center">¿A quién le entrega el resultado?</label>
                                </div>
                                <div>
                                    <textarea class="form-control col-10" rows="2" placeholder="Ingrese aquí las observaciones" formControlName="observaciones" [class.is-invalid]="observacionesNoValido">
                                </textarea>
                                </div>
                                <small *ngIf="observacionesNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <textarea class="form-control" rows="2" placeholder="Aquí irá el texto formado por la actividad" formControlName="observaciones" [class.is-invalid]="observacionesNoValido">
                                </textarea>
                                <small *ngIf="observacionesNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-9 col-form-label text-left">Tiempo promedio de la actividad (horas)</label>
                                <input class="form-control col-3 mt-2" type="text" formControlName="proceso" [class.is-invalid]="procesoNoValido">
                                <small *ngIf="procesoNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label class="col-3 col-form-label text-right">Observaciones</label>
                                <textarea class="form-control col-9 mt-2" rows="1" formControlName="alcance" [class.is-invalid]="alcanceNoValido">
                                </textarea>
                                <small *ngIf="alcanceNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-2 col-form-label text-left">Tarea</label>
                                <input class="form-control col-6 mr-1" type="text" formControlName="proceso" [class.is-invalid]="procesoNoValido">
                                <div class="input-group col-3">
                                    <button type="button" class="btn btn-outline-primary">
                                        +
                                    </button>
                                </div>
                                <small *ngIf="procesoNoValido" class="form-text text-danger">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 float-center">
                        <div class="input-group col-md-4">
                            <button type="submit" class="btn btn-outline-secondary col-5 mr-2">
                                <i class="fas fa-chevron-left"></i> Anterior
                            </button>


                            <button type="submit" class="btn btn-outline-success col-5">
                                <i class="far fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>

                </form>
            </div>

        </nb-tab>
    </nb-tabset>
</div>